:root {
    --title-color: #626A67;
    --text-color: #D0D0D0;
    --dark_button-color: #1d1a1a;
    --shadow-color: black;
    --primary-color: #702522;
    --secondary-color: #f3d081;
    --card-color: #de2c42;
}


#footer {
    background-color: white;
    border-top: solid 1px var(--title-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.socail_media {
    display: flex;
    justify-content: center;
}

.media_logo {
    display: flex;
}

.media_logo li {
    list-style: none;
    margin: 0 25px;
    font-size: 30px;
    padding-top: 15px;
}

.media_logo li a i {
    color: var(--dark_button-color);
}

.partner {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.partner h3 {
    text-align: center;
}

.partner_img {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.partner img {
    margin: 0 20px;
    width: 100px;
}

.content {
    width: 60vw;
    margin: 0 auto;
    text-align: justify;
    margin-bottom: 20px;
    font-size: 20px;
}