/* Add font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

:root {
    --title-color: #626A67;
    --text-color: #D0D0D0;
    --dark_button-color: #1d1a1a;
    --shadow-color: black;
    --primary-color: #702522;
    --secondary-color: #f3d081;
    --card-color: #de2c42;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* Thanh timf kieem */
#searchWrapper {
    height: 50px;
    display: flex;
    justify-content: center;
    position: relative;
    width: 60%;
    margin: 100px auto 0 auto;
}

#searchInput {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 12px;
    border: solid 2px var(--card-color);
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-right: none;
    font-size: 20px;
}

#searchButton {
    width: 40px;
    border: solid 2px var(--card-color);
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 20px;
    transition: ease 0.3s;
    background-color: var(--card-color);
    color: white;
}

#searchClear {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    cursor: default;
    font-size: 20px;
}

#searchClear:active {
    font-size: 16px;
}

#searchButton:hover {
    background-color: white;
    color: black;
}

#searchButton:active {
    background-color: var(--card-color);
}

#suggestionWrapper {
    position: absolute;
    width: 100%;
    max-height: 300px;
    top: 105%;
    z-index: 2;
    border-radius: 4px;
    transition: ease 0.3s;
}


#suggestionWrapper .suggest:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

#suggestionWrapper .suggest:last-child {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

#suggestionWrapper .suggest {
    color: black;
    padding-left: 12px;
    cursor: pointer;
    height: 30px;
    display: grid;
    align-content: center;
    background-color: #eeeeee;
    border-bottom: solid 2px var(--title-color);
    transition: ease 0.3s;
}

#suggestionWrapper .suggest:hover {
    background-color: rgb(209, 209, 209);
}

/* --------------- */
#products-wrapper h2 {
    cursor: pointer;
}

#footer {
    background-color: white;
    border-top: solid 1px var(--title-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.socail_media {
    display: flex;
    justify-content: center;
}

.media_logo {
    display: flex;
}

.media_logo li {
    list-style: none;
    margin: 0 25px;
    font-size: 30px;
    padding-top: 15px;
}

.media_logo li a i {
    color: var(--dark_button-color);
}

.partner {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.partner h3 {
    text-align: center;
}

.partner_img {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.partner img {
    margin: 0 20px;
    width: 100px;
}

.content {
    width: 60vw;
    margin: 0 auto;
    text-align: justify;
    margin-bottom: 20px;
    font-size: 20px;
}

/* product detail */
#product_detail {
    display: flex;
}

#product_detail .box_left,
#product_detail .box_right {
    width: 50%;
    height: 480px;
}

#product_detail .box_left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#product_detail .box_right {
    padding: 30px;
}

#pro_header {
    height: 40%;
}

#product_name {
    font-size: 30px;
}

#pro_additionInfo {
    margin-top: 20px !important;
    display: flex;
    justify-content: space-between;
    font-size: 26px;
}

#pro_additionInfo div span:first-child {
    text-decoration: underline;
}

#pro_additionInfo div:not(#pro_additionInfo div:first-child) {
    border-left: solid 1px var(--title-color);
    padding-left: 10px;
}

#star {
    color: var(--card-color);
}

#pro_body {
    background-color: #f2f2f2;
    padding: 10px;
    margin-top: 10px;
    height: 260px;
}

#product_id {
    font-size: 24px;
}

#product_price {
    font-size: 40px;
    color: var(--secondary-color);
}

#pro_body i {
    font-size: 30px;
    color: var(--card-color);
    margin: 0 10px;
}

#shipfee {
    font-size: 30px;
    color: var(--card-color);
}